@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body{
    background: #f1f1f1!important;
    font-family: 'Poppins'!important;
}
header{
    background: #F51110 ;
}
.info{
    background: #FFFFFF;
    margin-top: -2%;
    box-shadow: 0px 0px 2px 0px #c8c8c8;
}
/* STYLE SCROLL */
::-webkit-scrollbar{
    width: 0.3rem;
}
::-webkit-scrollbar-track{
    background-color: #cccccc;
}
::-webkit-scrollbar-thumb{
    background-color: #F51110;
    border-radius: 3rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #FFFFFF;
}

 @media(max-width: 700px){
    .moedas{
        width: 20%;
    }
 }