@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body{
    background: #f1f1f1!important;
    font-family: 'Poppins'!important;
}
header{
    background: #f1f1f1;
}
.menu{
    color: #000!important;
    font-size: 1.2em;
}
.title{
    background: #F51110;
    color: #FFFFFF;
}
.info{
    background: #FFFFFF;
    width: 70%;
    margin-top: -5%;
    box-shadow: 0px 0px 2px 0px #c8c8c8;
}
#teaser{
    width: 75%;
    height: 80vh;
}
.logo1{
    width: 15%
}
.logo2{
    width: 20%;
}
.dados{
    background: #FFFFFF;
    box-shadow: 0px 0px 2px 0px #c8c8c8;
}
.link{
    color: #F51110;
}
.link:hover{
    color: #000;
}
/* STYLE SCROLL */
::-webkit-scrollbar{
    width: 0.3rem;
}
::-webkit-scrollbar-track{
    background-color: #cccccc;
}
::-webkit-scrollbar-thumb{
    background-color: #F51110;
    border-radius: 3rem;
}

 @media(max-width: 700px){
    .moedas{
        width: 20%;
    }
    #teaser{
        height: 40vh;
    }
 }